<form method="post" action="{{ path('admin_toUser', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to do this ?');">
    <button class="btn btn-danger">Come back to user</button>
</form>
