<form method="post" action="{{ path('user_toAdmin', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to upgrade this profile?');">
    <button class="btn btn-danger">Upgrade to Admin</button>
</form>
